:root {
  --salmon: hsl(6, 93%, 71%);
  --green: hsl(120, 100%, 50%);
  --lime: hsl(120, 100%, 50%);
  --lightgrey: #303030;
  --grey: #181818;
  --white: hsl(0, 0%, 100%);
  --rdm-clr: --rdm-clr;
  --red: hsl(0, 100%, 50%);
  --clr-data-fake: hsl(0, 100%, 50%);
  --clr-data-misleading: hsl(39, 100%, 50%);
  --clr-data-loading: var(--green);
  --clr-data-scam: var(--salmon);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  min-height: 83vh;
}

main {
  padding: 5px;
  margin: 0px;
  /* position: relative; */
  min-height: max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: calc(350px);
}

main h1 {
  margin: 0;
}

/* main h1::before {
  content: open-quote;
  font-size: 2rem;
}

main h1::after {
  content: close-quote;
  font-size: 2rem;
} */


.li__table button{
  margin: 2px;
  padding: 2px;
  border: none;
  border-radius: 8px;
  position: relative;
  width: -webkit-fill-available;
  font-size: .8rem;
  transition: .2s ease-in-out;
  backdrop-filter: blur(2px);
  background: transparent;
  background-color: hsla(0,0%,100%,.3);
}

.li__table  button:hover{
  opacity: .8;
  transition: .2s ease-in-out;
  /* cursor: pointer; */
}

.li__table:nth-child(5){
  display: flex;
}

.li__table .li__info{
  width: fit-content;
  max-height: 200px;
  overflow-y: scroll;
  margin: 2px;
  padding: 2px;
}

.li__table .li__info #test{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  margin: 2px;
  color: var(--rdm-clr);
}

.li__info__col{
  backdrop-filter: blur(2px);
  background: transparent;
  background-color: hsla(0,0%,0%,.5);
  border-radius: 0.2em;
  font-size: .7rem;
}

#info__id, #info__url{
  position: relative;
}

#info__url {
  /* text-decoration: none; */
  color: var(--white);
}

#info__id, #info__source{
  position: relative;
}

#info__source {
  /* text-decoration: none; */
  color: var(--white);
}


#info__id::before{
  content: attr(data-id);
  width: fit-content;
  color: var(--white);
  /* background-color: red; */
  font-weight: bolder;
  color: var(--white);
}

#info__url::before{
  content: attr(data-url);
  width: fit-content;
  /* background-color: red; */
  color: var(--white);
  font-weight: bolder;
}

#info__source::before{
  content: attr(data-source);
  width: fit-content;
  /* background-color: red; */
  color: var(--white);
  font-weight: bolder;
}

#info__improve::before{
  content: attr(data-improve);
  width: fit-content;
  /* background-color: red; */
  color: var(--white);
  font-weight: bolder;
}

#info__score::before{
  content: attr(data-score);
  width: fit-content;
  /* background-color: red; */
  color: var(--white);
  font-weight: bolder;
}


.li__table .li__info::-webkit-scrollbar{
  width: 0px;
  height: 3px;
  background-color: #8888;
}

.li__table .li__info::-webkit-scrollbar-thumb{
  background: grey;
  border-radius: 50px;
}


#alert__button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 2vw 2vh;
  transition: .5s;
  position: relative;
  width: -webkit-fill-available;
  font-size: 2rem;
}

#alert__button:hover {
  opacity: .5;
  transition: .5s;
  cursor: pointer;
}

.floating {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

main ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
  list-style-type: none;
  /* gap: 0.1rem; */
  width: -webkit-fill-available;
  color: white;
}

main ul li {
  display: flex;
  /* margin: 2px; */
  padding: 2px;
  list-style-type: none;
  border-radius: 0.2em;
  transition: .2s;
  height: auto;
  position: relative;
  justify-content: space-between;
}

 .close{
  display: flex;
    align-items: center;
    /* align-self: center; */
    height: 25px;
    padding: 0px;
    width: 40px;
    margin: 0px;
    font-size: 3rem;
    justify-content: center;
  transition: .2s ease-in-out;
}

.close:hover{
  opacity: .5;
  transition: .2s ease-in-out;
}

main ul li:hover {
  cursor: pointer;
  opacity: .95;
  transition: .2s;
}

main ul li p {
  margin: 2px;
  padding: 2px;
  font-size: 1.1rem;
  font-family: monospace;
  /* position: relative; */
  align-self: center;
}

main ul li:nth-child(odd) {
  background-color: var(--grey);
}

main ul li:nth-child(even) {
  background-color: var(--lightgrey);
}

ul li {
  position: relative;
}

ul li::before {
  content: attr(data-count);
  position: absolute;
  top: -0.6em;
  right: -0.6em;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: var(--red);
  font-family: monospace;
  padding: 0px;
  outline: solid 2px var(--white);
}

/* --------------------TABS--------------------- */

.tablinks::before {
  content: attr(data-tab);
  position: absolute;
  top: -0.5em;
  right: -0.2em;
  width: 1.2em;
  height: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: var(--red);
  font-family: unset;
  padding: 2px;
  font-weight: bold;
  font-size: .8rem;
  z-index: 1;
}

.wrapper{
  width: 100%;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 99%;
  margin: 10px 0;
  justify-content: center;
}

.tabs__label {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 80px;
  height: 30px;
  justify-content: center;
  margin: 0 10px;
  position: relative;
}

.tabs__label::before {
  content: attr(data-tab);
  position: absolute;
  top: -0.8em;
  right: -0.8em;
  width: 1.2em;
  height: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: var(--red);
  font-family: unset;
  padding: 2px;
  font-weight: bold;
  font-size: .8rem;
  z-index: 1;
}

.tabs__radio {
  display: none;
}

.tabs__radio:checked+.tabs__label {
  font-weight: bold;
  /* border: solid 3px black; */
  border-radius: 1vw 1vh;
  background-color: lightgrey;
  margin: 2px;
  padding: 2px;
}

.tabs__radio:checked+.tabs__label+.tabs__content {
  display: block;
}

.tabs__content {
  order: 1;
  display: none;
  transform: inherit;
  width: 100%;
  margin: 10px 0;
}

.tabs__content h1 + p {
  background-color: tomato;
  margin: 2px;
  padding: 5px;
}

.tabs label:nth-of-type(1),
.tabs label:nth-of-type(1)+.tabs__content {
  color: black;

}

.tabs label:nth-of-type(2),
.tabs label:nth-of-type(2)+.tabs__content {
  color: black;
}

.tabs label:nth-of-type(3),
.tabs label:nth-of-type(3)+.tabs__content {
  color: black;
}

.li__table details{
  width: -webkit-fill-available;
  align-self: center;
  max-height: 200px;
  overflow-y: scroll;
  margin: 2px;
  padding: 2px;
}

.li__table details summary{
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  transition: .2s ease-in-out;
                backdrop-filter: blur(2px);
                background: transparent;
                background-color: hsla(0,0%,0%,.5);
  border-radius: .2em;
}

.li__table details summary::marker{
  font-size: 3em;
}


.li__table details::-webkit-scrollbar{
  width: 4px;
  height: 3px;
  background-color: #8888;
}

.li__table details::-webkit-scrollbar-thumb{
  background: grey;
  border-radius: 50px;
}

.li__table details summary p{
  position: relative;
}

li details summary p::before{
  position: absolute;
  right: -4em;
  width: fit-content;
  height: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2em;
  color: white;
  font-family: monospace;
  padding: 5px;
  font-weight: 700;
  font-size: 1rem;
}

.hr-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.hr-container hr {
  width: 40%;
  margin: 0 10px;
  color: lime;
  border: solid 0.1px;
}

.hr-text {
  font-size: 15px;
  color: var(--lime);
}


li:nth-of-type(1) details summary p::before{
  content: attr(data-fake);
  background-color: var(--clr-data-fake);
}

/* li:nth-of-type(5) details summary p::before{
  content: attr(data-fake);
  background-color: var(--clr-data-fake);
} */

li:nth-of-type(2) details summary p::before{
  content: attr(data-misleading);
  background-color: var(--clr-data-misleading);
  right: -7.3em;
}

li:nth-of-type(6) details summary p::before{
  content: attr(data-misleading);
  background-color: var(--clr-data-misleading);
  right: -7.3em;
}

li:nth-of-type(3) details summary p::before{
  content: attr(data-scam);
  background-color: var(--clr-data-scam);
}

li:nth-of-type(7) details summary p::before{
  content: attr(data-scam);
  background-color: var(--clr-data-scam);
}

.loader {
  border: 3px solid #f3f3f3;
  border-radius: 100%;
  border-top: 3px solid #3498db;
  margin: 0 20px;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* --------------------FOOTER--------------------- */

footer {
  display: flex;
  flex-direction: row;
  font-size: .8rem;
  align-self: flex-end;
}

footer p {
  margin: 2px;
  padding: 2px;
}

footer p a {
  text-decoration: none;
  color: lightgrey;
  transition: .2s ease-in-out;
}

footer p a:hover {
  color: black;
  transition: .2s ease-in-out;
}